@use "resets";
@use "variables";

body{
    /* 
    WIDTH OF THE PAGE: 1408PX;
    */
    color: #fff;
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin: 0 0rem 0 0rem;  
    min-height: 150vh;  
}
.div-container{
    background-color: #000000;
}
nav{
    position: sticky;
    top: 0;
    z-index: 100;
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;

            .logo{
                h2{
                    span{
                        color: orange;
                    }
                }
            }

            .nav{
                .ul-list{
                    display: flex;
                        li{
                            list-style: none;
                            padding: 10px;
                            .two{
                                left: 0rem;
                                width: 320px;
                                padding: 10px;
                                    min-height: 274px;
                                    margin-top: 21px;
                                    background-color: #201e1e;

                                    ul{
                                        li{
                                            padding: 16px 0;
                                            a{
                                                font-size: 15px;
                                            }
                                        }
                                        li:hover{
                                                transform: scale(1.2);
                                            }
                                    }
                            }
                            .three{
                                left: 18rem;
                                width: 320px;
                                padding: 10px;
                                    min-height: 260px;
                                    margin-top: 21px;
                                    background-color: #201e1e;
                                    ul{
                                        li{
                                            padding: 16px 0;
                                            a{
                                                font-size: 15px;
                                            }
                                        }
                                        li:hover{
                                            transform: scale(1.2);
                                        }
                                    }
                            }
                            .four{ z-index: 5;
                                left: 36rem;
                                width: 320px;
                                padding: 10px;
                                    min-height: 260px;
                                    margin-top: 21px;
                                    background-color: #201e1e;
                                    border-top-right-radius: 15px;
                                    border-bottom-right-radius: 15px;
                                    ul{
                                        li{
                                            padding: 16px 0;
                                            a{
                                                font-size: 15px;
                                            }
                                        }
                                        li:hover{
                                            transform: scale(1.2);
                                        }
                                    }
                            }
                            .one{
                                left: -18rem;
                                width: 320px;
                                padding: 10px;
                                    min-height: 260px;
                                    margin-top: 21px;
                                    background-color: #201e1e;
                                    border-top-left-radius: 15px;
                                    border-bottom-left-radius: 15px;
                                    ul{
                                        li{
                                            padding: 16px 0;
                                            a{
                                                font-size: 15px;
                                            }
                                        }
                                        li:hover{
                                            transform: scale(1.2);
                                        }
                                    }
                            }

                                div{
                                    h3{
                                        color: #00f;
                                        margin: 15px;
                                    }
                                }
                                div{
                                    position: absolute;
                                    display: none;
                                }


                                a{
                                    color: #fff;
                                    text-decoration: none;
                                    
                                }
                                a:hover{
                                    color: #ffa500;

                                    i:hover{
                                        transform: rotate(180deg);
                                    }
                                }
                        }
                }
            }

            .log-sign{
                div{
                    padding: 15px;

                    

                    #search{outline: none;
                        border: 0;
                        width: 320px;
                        height: 30px;
                        border-radius: 15px;
                        border-width: 0;
                        margin-right: 4px;
                        
                    }
                        
                }
                button{
                    margin: 15px;
                    background-color: orange;
                    color: #fff;
                    padding: 10px;
                    border-radius: 15px;
                    border-width: 0;
                    cursor: pointer;
                }
                button:hover{
                    color: orange;
                    background-color: #fff;
                    
                }
            }
    }
}
#search{
    padding-left: 10px;
}

nav div .nav .ul-list li:hover div {
    position: absolute;
    display: block;
  }
.sub-menu{
    background-color: red;
        div{
            ul{
                li{
                    padding: 15px;
                }
            }
        }
}

.ul-list li a{
    padding: 21px 8px;
}

/* SOCIAL */

.social{
    margin: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translateY(50%);
    position: fixed;
    right: 12px;
    z-index: 1000;
    .social-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a{
            color: #ffa500;
        }
        a:hover{
            color: #FFF;
            border-radius: 10px;
            transform: scale(1.2, 1.1);
        }
        .line{
            width: 3px;
            height: 50px;
            background-color: #ffa500;
            margin-top: 2px;
        }
    }
}
.fa-magnifying-glass{
    cursor: pointer;
}

/* hero */
.main{
    .main-container{
        padding: 2rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

            .sub-main{
                min-width: 300px;
                min-height: 200px;
                text-align: center;

            }
            .sub-main-one{
                background-color: #ffffff00;
                position: relative;
                img{
                    position: absolute;
                    left: 10px;
                    bottom: -230px;
                }
            }
            .sub-main-two{
                background-color: rgba(0, 0, 255, 0);
                padding: 3rem 0 1.5em 0;
                width: 700px;

                    h1{
                        width: 700px;
                        text-align: center;
                        font-size: 45px;
                        
                            span{
                                background-color: orange; 
                                padding: 3px; 
                                border-radius: 3px;
                                display: inline-block;
                                transform: skew(159deg);
                                text-shadow: 2px 2px 2px #000;
                                box-shadow: 2px 2px 3px #fff;
                            }
                            .online{
                                animation: pulse 15s infinite;
                            }
                            @keyframes pulse {
                                0%{
                                    color: #051e3e;
                                }
                                10%{
                                    color: #051e3e;
                                }
                                30%{
                                    color: #FFF;
                                }
                                50%{
                                    color: #051e3e;
                                }
                                60%{
                                    color: #051e3e;
                                }
                                80%{
                                    color: #FFF;
                                }
                                100%{
                                    color: #051e3e;
                                }
                            }
                            .online:after{
                                content: "";
                                animation: spin 15s infinite;
                            }
                            @keyframes spin {
                                0%{
                                    content: "ONLINE.";
                                }
                                40%{
                                    content: "ONLINE.";
                                }
                                100%{
                                    content: "WORLDWIDE.";
                                }
                            }
                    }
                    p{
                        width: 700px;
                        padding-top: 20px;
                    }
            }
            .sub-main-three{
                background-color: #00ff0000;
                position: relative;
                img{
                    position: absolute;
                    left: -20px;
                    top: -80px;
                }
            }
            .sub-main-four{
                background-color: rgba(0, 255, 255, 0);
                position: relative;
                img{
                    position: absolute;
                    left: 0;
                    bottom: -150px;
                }
            }
            .sub-main-five{
                background-color: rgba(165, 42, 42, 0);
                padding: 10px;
                .call-to-action{
                    text-align: center;
                }
                .phone-img{
                    img{
                        /* width: 130%;
                        height: 130%; */
                    }
                }
            }
            .sub-main-six{
                background-color: rgba(139, 69, 19, 0);
                position: relative;
                img{
                    position: absolute;
                    left: -10px;
                    top: -150px;
                }
            }
    }
}

/* input and social */
.sub-main-five{
    .input-btn{
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        input{
            margin: 5px 0 5px 5px;
            width: 300px;
            height: 35px;
            outline: none;
            border: 0;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
            padding-left: 15px;
        }
        button{
            
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
            font-size: 1rem;
            padding: 5px;
            height: 35px;
            cursor: pointer;
            color: #fff;
            border: 3px solid orange;
            background-image: linear-gradient(30deg, orange 50% , transparent 50%);
            background-size: 500px;
            background-repeat: no-repeat;
            background-position:  0;
            transition: background 300ms ease-in-out;
        }
        button:hover{
            background-position: 100%;
            color: orange;
            background-color: #fff;
        }
    }
}

/* about-sub-menu */
.about-sub-menu{
                                width: 170px;
                                padding: 10px;
                                    min-height: 100px;
                                    margin-top: 21px;
                                    background-color: #201e1e;
                                    border-radius: 15px;
                                    ul{
                                        li{
                                            padding: 16px 0;
                                            a{
                                                font-size: 18px;
                                            }
                                        }
                                        li:hover{
                                            transform: scale(1.2);
                                        }
                                    }
}
.main-container{
    position: relative;
}

/* SERVICES */
.services{
    color: #000;
    background-color: orange;
    padding: 3rem;
    border-top-left-radius: 100px;
    div{
        .head-container{
            h1{
            font-size: 2.5rem;
                span{
                    background-color: #fff;
                    text-shadow: 1px 1px 1px #000;
                    padding: 2px;
                }
            }
            .dsc{
                padding: 14px 0 8px 0;
            }
            .div-btn{
                display: flex;
                flex-direction: row;
                padding: 10px;
                gap: 3px;
                background-color: rgb(230, 150, 2);
                border: 3px solid #fff;
                border-radius: 25px;
                width: 190px;
                text-align: center;

                .out{
                    background-color: #FFF;
                    width: 20px;
                    height: 20px;
                    border-radius: 10px;
                    .in{
                        background-color: #00f;
                        height: 10px;
                        width: 10px;
                        border-radius: 5px;
                        margin: 5px auto;
                    }
                }
                a{
                    text-decoration: none;
                    color: #000;
                    font-weight: 600;
                }
            }
            .div-btn:hover{
                background-color: transparent;
            }
        }
        .sub-container{
            display: flex;
            flex-direction: row;
            gap: 2rem;
            .sub-con-first{
                .web-container, .software-container{
                    padding: 10px 0;
                    i{
                        margin: 10px 0;
                    }
                        h3{
                            padding: 8px 0;
                        }
                }
            }
            .sub-con-second{
                .mobile-app-container, .cloud-container{
                    padding: 10px 0;
                    i{
                        margin: 10px 0 ;
                    }
                        h3{
                            padding: 8px 0;
                        }
                }
            }
        }
    }
}
.fa-globe, .fa-laptop-code, .fa-mobile-screen, .fa-cloud{
    padding: 5px;
}