@use "resets";
@use "variables";

body{
    color: #fff;
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin: 0 1rem 0 1rem;  
    height: 150vh;  
}
.div-container{
    background-color: #000000;
}
nav{
    position: sticky;
    top: 0;
    z-index: 100;
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;

            .logo{
                h2{
                    span{
                        color: orange;
                    }
                }
            }

            .nav{
                .ul-list{
                    display: flex;
                        li{
                            list-style: none;
                            padding: 10px;
                            .two{
                                left: 10rem;
                                width: 245px;
                                padding: 10px;
                                    min-height: 274px;
                                    margin-top: 21px;
                                    background-color: #201e1e;
                            }
                            .three{
                                left: 25rem;
                                width: 245px;
                                padding: 10px;
                                    min-height: 260px;
                                    margin-top: 21px;
                                    background-color: #201e1e;
                                    border-top-right-radius: 15px;
                                    border-bottom-right-radius: 15px;
                            }
                            .one{
                                left: -5rem;
                                width: 245px;
                                padding: 10px;
                                    min-height: 260px;
                                    margin-top: 21px;
                                    background-color: #201e1e;
                                    border-top-left-radius: 15px;
                                    border-bottom-left-radius: 15px;
                            }

                                div{
                                    h3{
                                        color: #00f;
                                        margin: 15px;
                                    }
                                }
                                div{
                                    position: absolute;
                                    display: none;
                                }


                                a{
                                    color: #fff;
                                    text-decoration: none;
                                    
                                }
                                a:hover{
                                    color: #ffa500;

                                    i:hover{
                                        transform: rotate(180deg);
                                    }
                                }
                        }
                }
            }

            .log-sign{
                div{
                    padding: 15px;

                    #search{
                        width: 320px;
                        height: 29px;
                        border-radius: 15px;
                        border-width: 0;
                        margin-right: 4px;
                    }
                }
                button{
                    margin: 15px;
                    background-color: orange;
                    color: #fff;
                    padding: 10px;
                    border-radius: 15px;
                    border-width: 0;
                    cursor: pointer;
                }
                button:hover{
                    color: orange;
                    background-color: #fff;
                    
                }
            }
    }
}
#search{
    padding-left: 10px;
}

nav div .nav .ul-list li:hover div {
    position: absolute;
    display: block;
  }
.sub-menu{
    background-color: red;
        div{
            ul{
                li{
                    padding: 15px;
                }
            }
        }
}

.ul-list li a{
    padding: 21px 8px;
}

/* .sub-menu div ul li:hover{
    background-color: #00f;
} */

/* SOCIAL */

.social{
    margin: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translateY(50%);
    position: fixed;
    right: 12px;
    z-index: 100;
    .social-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a{
            color: #ffa500;
        }
        a:hover{
            color: #FFF;
            border-radius: 10px;
            transform: scale(1.2, 1.1);
        }
        .line{
            width: 3px;
            height: 50px;
            background-color: #ffa500;
            margin-top: 2px;
        }
    }
}
